body {
	margin: 0;
	overflow: hidden;
    background-image: url("../Photos/551af110-3027-48d8-ada4-049d2ad20941.png");
    background-repeat: no-repeat;
    background-size: cover; /* o cover */
}


.content {
	position: relative;
	z-index: 2;
}

/*Welcome*/
#welcome2 {
	font-size: 4rem;
	font-weight: bold;
	color: #edecec;
	background: linear-gradient(
		90deg,
		#1d31a0 0%,
		rgb(80, 96, 172) 50%,
		rgb(59, 56, 243),
		#002fff 100%
	);
	background-size: 200% auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation:
		appear 2s forwards,
		shine 2s infinite;
	text-align: center;
}

@keyframes appear {
	from {
		opacity: 0;
		letter-spacing: 20px;
	}
	to {
		opacity: 1;
		letter-spacing: 2px;
	}
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}


#goback {
	margin-top: 20px;
	background: linear-gradient(90deg, #000000, #eaf8f7);
}

#addMemory {
	margin-top: 20px;
	background: linear-gradient(90deg, #1e1f20, #f0f0f0);
}
.container {
	background: rgba(130, 138, 137, 0.356);
	padding: 30px;
	border-radius: 15px;
	width: 200px;

	display: flex;
	flex-direction: column;
    position:absolute;
    left:6px;
	gap: 10px;
    top: 0px;
}

.hidden {
    display: none !important;
}
#memoryMenu{

    position:fixed;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    width:400px;

    background:white;

    border-radius:15px;

    padding:20px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.ballMemory{

    width:25px;
    height:25px;

    border-radius:50%;

    position:fixed;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);
}

#closeMenu{

    position:absolute;

    top:10px;
    right:10px;

    width:35px;
    height:35px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:20px;

    background:#eee;
}

#closeMenu:hover{
    background:#ddd;
}